
.base {
    display: flex;
    flex-direction: column;
    background-color: #FFF;

    #p1 {
        margin-top: 123px;
        justify-content: center;
        display: flex;
        font-size: 40px;
        font-weight: 700;
    }

    #p2 {
        display: flex;
        justify-content: center;
        color: #777A73;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 50px;

        br {
            display: none;
        }
    }
}

#content-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin: 0 200px;
    gap: 30px;

    .form-block {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: #F6F6F6;
        width: 100%;

        &.left {
            clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
        }

        &.center {
            position: relative;

        }

        &.right {
            clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);

        }

        img {
            padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 30.3%;
            padding-right: 30.3%;
            height: auto;
            width: 100%;

        }

        .button-bio {
            position: absolute;
            padding: 15px 52px 15px 44px;
            width: 200px;
            height: 60px;
            border-radius: 10px 0px;
            background-color: #588535;
            color: #FFF;
            font-size: 20px;
            font-weight: 500;
            bottom: 30px;
        }

        .correction {
            position: relative;
            right: 8.21%;
        }

    }

}



@media (min-width:851px) {
    .mobile-only {
        display: none !important;
    }
}

@media (max-width:850px) {
    .desktop-only {
        display: none !important;
    }
    #content-block {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        margin: 0 20px;
        gap: 5px;

        .form-block {

            border-radius: 3px;

            &.left {
                clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
            }

            &.center {
                position: relative;
            }

            &.right {
                clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);

            }

            img {
                padding-top: 3px;
                padding-bottom: 3px;
                padding-left: 30.3%;
                padding-right: 30.3%;
                height: auto;
                width: 100%;

            }

            .button-bio {
                position: absolute;
                padding: 0 3px 5px 5px;
                width: 80px;
                height: 20px;
                border-radius: 3px 0px;
                font-size: 12px;
                bottom: 3px;
                line-height: normal;
            }

            .correction {
                position: relative;
                right: 8.21%;
            }

        }
    }
}