@import 'variables';

$main-font: 'Poppins', sans-serif;

*{
    box-sizing: border-box;
    margin: 0;
}
html{
    scroll-behavior: smooth; 
}
body {
  position: relative;
  font-family:$main-font;
  background: #F6F6F6;

}

@media  (min-width:851px) {
  .mobile-only { display:none !important;
  }

}

@media  (max-width:850px) {
  .desktop-only { display:none !important;
  }
}